@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />
@* Needed for dialogs *@
<MudDialogProvider />
@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <Header />

    <div class="flex-wrapper">
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Medium">
                @Body
            </MudContainer>
        </MudMainContent>

        <Footer/>
    </div>

</MudLayout>
