@page "/about"

<PageTitle>About</PageTitle>

<h>About me</h>

<div style="height: 100px" />

<p>Hey, I’m Christian, or Chris.</p>
<br />
<p>Currently working at <a href="https://www.edmdept.com/">EDM Intelligent Solutions</a> as an Applications Developer.</p>
<p>BS in Computer Science from DePaul, concentration in game systems.</p>
<p>
    Specializing in systems architecture, optimizations, and prototyping solutions.

    Currently working in C# but have worked in depth with C/C++ code for low level rendering code with DirectX and OpenGL. 
    Also familiar with Unity and Godot.
</p>
