@page "/"

<PageTitle>Home</PageTitle>

<h>Home</h>

<div style="height: 100px"/>

<MudButton Href="projects">
    <MudPaper>
        <h1 style="margin: 16px;">Projects</h1>
    </MudPaper>
</MudButton>